# This file is part of the jetson_smart_fan package ().
# Copyright (c) 2021 kiah zhao.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.
[Unit]
Description=jetson_smart_fan service

[Service]
ExecStart= [BINARY] -s -f [CONFIG_PATH]
Restart=on-failure
RestartSec=5s
TimeoutSec=2s
# We want systemd to give jetson_smart_fan some time to finish gracefully, but still want
# it to kill jetson_smart_fan after TimeoutStopSec if something went wrong during the
# graceful stop. Normally, Systemd sends SIGTERM signal right after the
# ExecStop, which would kill jetson_smart_fan. We are sending useless SIGCONT here to give
# jetson_smart_fan time to finish.
KillSignal=SIGCONT

[Install]
WantedBy=multi-user.target